.login__header {
  padding: 1rem 0;

  h3 {
    color: #638337;
    margin-top: 20px;
  }
}

.login__brand {
  position: absolute;
  top: 10px;
  left: 40%;
  height: 80px;
  img {
    height: 100%;
    margin: 0;
  }
}

.login__brand__icon {
  display: block;
  height: 100%;
  transform: scale(1.5, 1.5);
}

.login__brand__letter {
  display: block;
  height: 100%;
}

.login__title {
  margin: 0;
  color: #343a40;
  font-weight: 700;
  font-size: 1rem;
}

.login__title2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.login__button2 {
  display: flex;
  justify-content: center;
}

.login__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-bottom: 2rem;
}

.login__input {
  display: block;
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #638337;
  border-radius: 0.25rem;
}

.login__input:focus {
  outline-color: #638337;
}

.login__link {
  border: none;
  color: #638337;
  background-color: white;
  font-size: 0.8rem;
}

.login__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.get__footer {
  display: flex;
  justify-content: center;
}
.login__footer--span {
  grid-column: span 2;
  margin: 0;
}

.btn_action {
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
  padding: 6px 10px;
  margin: 0px 10px;
  border: 1px solid #638337;
  border-radius: 4px;
  color: white;
  background-color: #638337;
}

.register__input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}
